#File watching time
UpdateFileTime=10

#Log format
LogFormat="[%tm] %wi Event:%en :: State: %cs :: Assertion: %ar :: Function Called: %fc :: Result: %fr"

#You can input several Log output files like this
#LogOutPutFile="log_file1"
#LogOutPutFile="log_file2"

LogOutPutFile=/tmp/testinglog1.log

#You can select if you want the log info on the screen, available parameters are on,off
StandardOutput=on
StandardError=off

ScriptPath="../behavior/"


